@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper{
  width: 320px;
  border: 1px black solid;
  margin: 0 auto;
  .flex-wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}